{% extends 'Layout/base.html.twig' %}

{% block content %}
    <form action="{{ path('redirect_create_post') }}" method="POST">
        {{ form_row(form) }}
        <button title="zapisz" type="submit">Wyślij</button>
    </form>
{% endblock %}